header{
    flex-direction: column;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .7);
    .container{
        nav{
            width: 70%;
            padding: 3rem 1rem;
            margin: 0 auto;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            font-size: 2rem;
            .links{
                width: 100%;
                .container{
              li {
                text-align: center;
                margin: 8rem 0rem;
                margin-right: 7rem;
                display: inline;
                list-style: none;

                a {
                 color: white;
                 text-decoration: none;
                 font-size: 1.7rem;
                 -webkit-transition: .3s ease-in-out;
                 transition: .3s ease-in-out;

                 position: relative;

                 &:hover{
                  color: $lighter;
                 }

                 &::after{
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    border-radius: 5rem;
                    background: $lighter;

                    transition: .3s ease-in;
                 }

                 &:hover::after{
                    width: 100%;
                 }
               }
              }
                  
          } 
      }

            .icons{
                    display: flex;
                    gap: 3rem;
                    a{
                        text-decoration: none;
                        color: white;
                        transition: .3s ease-in-out;
                        &:hover {
                            color: $lighter;
                        }
                    }
                }
            .burger{
                display: none;
                transition: .3s ease-in-out;
                cursor: pointer;
                z-index: 3;
                &:hover{
                    color: $lighter;
                    i{
                        pointer-events: none;
                    }
                }
            }

            

  }

            // .active{
            //     color: #1a1a1a;
            //     position: fixed;
            //     &:hover{
            //         color: $light;
            //     }
            // }
            

            
            // .links{
            //     background: white;
        
            //     position: fixed;
            //     top: 0;
            //     left: 0;
            //     height: 100vh;
            //     width: 100%;

            //     color: white;
        
            //     display: flex;
        
            //     transform: translateX(-100%);
        
            //     transition: .3s ease-in-out;
        
            //     z-index: 2;
            //     .container{
            //         margin: auto;
            //         li{
            //             text-align: center;
            //             margin: 8rem 0;
            //             a{
            //                 color: $main;
            //                 text-decoration: none;
            //                 font-size: 4rem;
        
            //                 transition: .3s ease-in-out;
            //                 &:hover{
            //                     color: $light;
            //                 }
            //             }
            //         }
            //     }
            // }
            // .show{
            //     transform: translateX(0);
            // }
            // .links .container {
            //     margin: auto;
            //   }

                //           .icons{
                // display: flex;
                // gap: 3rem;
                // a{
                //     text-decoration: none;
                //     color: white;
                //     transition: .3s ease-in-out;
                //     &:hover {
                //         color: $lighter;
                //     }
                // }
              
              
}
}
// header .container nav 
// header{
    
//     nav{
//         width: 90%;
//         margin: auto;
//         padding: 2rem 1rem;

//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         font-size: 2rem;
//         .burger{
//             transition: .3s ease-in-out;
//             cursor: pointer;
//             z-index: 3;
//             &:hover{
//                 color: $lighter;
//                 i{
//                     pointer-events: none;
//                 }
//             }
//         }
        // .active{
        //     color: #1a1a1a;
        //     position: fixed;
        //     &:hover{
        //         color: $light;
        //     }
        // }
//         .icons{
//             display: flex;
//             gap: 3rem;
//             a{
//                 text-decoration: none;
//                 color: white;
//                 transition: .3s ease-in-out;
//                 &:hover {
//                     color: $lighter;
//                 }
//             }
//         }
//         .links{
//             background: white;
    
//             position: fixed;
//             top: 0;
//             left: 0;
//             height: 100vh;
//             width: 100%;
    
//             display: flex;
    
//             transform: translateX(-100%);
    
//             transition: .3s ease-in-out;
    
//             z-index: 2;
//             .container{
//                 margin: auto;
//                 li{
//                     text-align: center;
//                     margin: 8rem 0;
//                     a{
//                         color: $main;
//                         text-decoration: none;
//                         font-size: 4rem;
    
//                         transition: .3s ease-in-out;
//                         &:hover{
//                             color: $light;
//                         }
//                     }
//                 }
//             }
//         }
//         .show{
//             transform: translateX(0);
//         }
//     }
// }