$main :  #2A3940;
$second :  #496470;
$light : #88B800;
$lighter : #BBFC01;

@import 'general';
@import 'main';
@import 'header';
@import 'about';
@import 'projects';
@import 'contact';
@import 'footer';
@import '650px';
@import '800px';
@import '1000px';
@import '1400px';